@import "../../toolkit/ui-element/input/toolkitCheckbox";

body {
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
}

@include toolkitCheckbox(100px) {

    //Checkbox checked override styling
    input:checked ~ span{
        background: #3498db;

        //Arrow
        &:after {
        }  
    }

    //Standard Override styling
    span {

        //Arrow
        &:after {

        }
    }
}

