@import "../../toolkit/mixins/all";
@import "../../toolkit/ui-element/expandable-section";
@import "../../toolkit/ui-element/shape/chevron";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
}

$chevron-props: (
    
    direction: right,
    size: 10px,
    x-weight: 1px,
    y-weight: 1px,

    color: white
);

$expanding-section-props: (
    
    parentSelector: 'section.expandable',
    expandedSelector: '.expanded',
    contentsSelector: 'div.contents',

    width: 100%,
    headerHeight: 80px,

    transitionDuration: 0.6s,
    transitionTimingFunc: ease,
    transitionScaleContent: false,

    headerBackground: #999,
    headerFontColor: white,
    headerFont: "'Open Sans', sans-serif",
    headerFontSize: 18px,

);

@include expandingSection($expanding-section-props) {

    //
    //General Override Styling
    //
    header {

        padding: 0 20px;
        @include border-radius(5px);

        //Chevron icon using a toolkit shape element
        span {
            @include chevron($chevron-props) {
                margin: 20px 10px;
                transition: transform map-get($expanding-section-props, transitionDuration), border-color map-get($expanding-section-props, transitionDuration);
                transition-timing-function: map-get($expanding-section-props, transitionTimingFunc);
            }
        }
        
        h1 {
            padding: 0 10px;
        }
    }
    
    //
    //Expanded Override Styling
    //
    &.expanded header {

        background: #ccc;
        h1 { color: black; }

        //Chevron icon
        span {                  
            @include chevron-direction(down);
            margin-top: 5px;
            border-color: black;
        }
    }

    .contents {
        //Mock Contents
        p { margin: 20px; }
    }

}
