@import "../../toolkit/mixins/all";
@import "../../toolkit/ui-element/input/toolkitSwitch";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 50px;
    font-family: 'Open Sans', sans-serif;
}

$properties: (
    width: 100px,
    height: 50px,
    thumb-margin: 1px
);
@include toolkitSwitch($properties) {

    //Switched checked override styling
    input:checked ~ span{
        background: #3498db;

        //Thumb
        &:after {
        }  
    }

    //Standard Override styling
    span {

        //Thumb
        &:after {

        }
    }
}

